@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*Pre-Loader*/
.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cef;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

body {
    position: relative;
}

/*header*/

header {
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #ccc;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.logo {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 1.5rem
}

header a {
    text-decoration: none;
    align-self: center;
    padding: 0 1rem;
    font-size: 1em;
    color: #00C1DF;
    font-weight: bold;
}

.logo-name {
    padding: .79rem;
    display: flex;
}

.logo {
    height: 2.5rem
}

.hamburger {
    display: none;
    background-color: transparent;
    border: 0;
    color: #00C1DF;
    font-size: 2rem;
    cursor: pointer;
    margin: -1.9rem 1rem 0 0;
}

.hamburger:focus {
    outline: none;
}

/*footer*/
footer {
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #ccc;
    padding: .68rem;
    margin-bottom: 2rem;
}

footer {
    margin: 0;
    bottom:0;
}

footer p {
    text-align: center;
    padding: .64rem;
}

/*Product*/

#container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}

.product {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 1rem 0.75rem;
    width: 18rem;
    padding:  0 2rem;
    border: 0.2rem solid #ddd;
    border-radius: .5rem;
    opacity: .8;
    transition: 0.15s;
}

.product-name {
    word-wrap: break-word;
    font-size: 1rem;
    margin: 1rem 0;
    text-align: left;
}

.product:hover {
    box-shadow: 0 0 20px 2px #ddd;
    cursor: pointer;
    opacity: 1;
    transition: .25s;
    transform: scale(1.01);
}

.product img {
    align-self: center;
    width: 50%;
    padding: 0.5rem;
    height: 10rem;
    object-fit: contain;
}

.addToCart {
    align-self: center;
    text-decoration: none;
    font-size: 1.2rem;
    word-spacing: .2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgb(192, 184, 199);
    border-radius: 1rem;
    width: 90%;
    margin: 1rem;
}

.addToCart:hover {
    color: white;
    background-color: #ccc;
}

.category {
    text-transform: capitalize;
}

/*error*/

.error {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.error .error-graphics {
    align-self: center;
    width: 100%;
    height: 19rem;
    background: url(./images/500.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.error .message {
    flex: 1;
    align-self: center;
    text-align: center;
    margin: 1rem;
}

#fname-error, #lname-error, #email-error, #password1-error,#password2-error{
    color:red;
    font-size: .6rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    float: right;
    width:60%;
}

/*Signup*/

.signup-container {
    font-size: .91rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-container {
    border: 1px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 26rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

form span {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

form {
    width: 100%;
    padding: 0 1rem;
}

form h1 {
    color: #00C1DF;
    text-align: center;
}

form label {
    width: 35%;
}

input {
    width: 60%;
    padding: 0;
    outline: none;
    height: 2rem;
    padding-left: 1rem;
    border-width: 0 0 1px 0;
}
#name-error{
    display: none;
}
.tos {
    width: 45%;
    margin: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tos p {
    padding-left: .7rem;
    width: 25rem;
    margin: 0;
}

.signup-button {
    background-color: #00C1DF;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
}

input[type="checkbox"] {
    accent-color: #00C1DF;
}

.signup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signup-response {
    color: red;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}
#user-li{
    display:none;
}
#user{
    border: 1px solid #00C1DF;
    padding: 1rem;
    font-weight: 100;
    color: #000;
    border-radius: 1rem;
    text-transform: capitalize;
}
/*Responsive Design*/

@media (max-width: 660px) {
    header ul li {
        font-size: 1rem;
    }

    header ul {
        flex-direction: column;
        padding-top: .5rem;
    }

    header ul {
        flex-direction: column;
        padding-top: .5rem;
    }

    .hamburger {
        display: block;
        width: 1rem;
        height: 1rem;
    }

    .nav-ul {
        display: none;
        width: 100%;
    }

    .nav-ul.show {
        display: flex;
    }

    li {
        text-align: center;
        font-size: 1.5rem;
        padding: .5rem;
    }

    footer {
        width: 100%;
        padding: .5rem;
    }

    .container {
        padding: 1rem;
        box-sizing: border-box;
    }

    .product {
        width: 12rem;
    }

    .error {
        flex-direction: column;
    }

    .error .error-graphics {
        width: 100%;
    }

    .error .message {
        text-align: center;
    }

    .form-container {
        max-width: 60%;
    }

    .input-text,
    .signup {
        text-align: center;
        display: block;
    }
    #fname-error, #lname-error, #email-error, #password1-error,#password2-error{
        width: 100%;
    }

    .tos,
    .input-text span,
    .tos p,
    .input-text input,
    .input-text p {
        width: 100%;
    }

    .signup-button {
        margin: 1rem;
    }

    .input-text label {
        display: none;
    }

    .tos p {
        margin-left: -1rem;
    }
}